*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
@font-face{
  font-family: "museosans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/museosans.woff") format("woff");
}
html, body{
	margin: 0px;
	padding: 0px;
	font-family: "museosans"!important;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
a{
	text-decoration: none;
 	color: #00B7FF;
}
a:hover{
	text-decoration: underline;
}
#page-wrap{
	color: #333;
}
.main{
	background: none repeat scroll 0% 0% #EEE;
	border-bottom: 1px solid #999;
	margin-bottom: 1px;
	padding: 1%;
	color: #555;
}
.img{
	display: block;
	width: 100px;
	margin: 0 auto;
}
section > div{
	padding: 20px;
}
header, nav, section{
	background: #eee;
	text-align: center;
}
table{
	margin: 0 auto;
	text-align: left;
}
section form{
	width: 300px;
	margin: 0 auto;
	text-align: left;
}
tr.border_bottom td{
  border-bottom:1pt solid #ccc;
}
td > form{
	width: auto;
}
.rem{
	text-align: right!important;
	display: block!important;
}
footer{
	background: #eee;
	text-align: center;
}
input{
	padding: 4px;
}
span > form > input{
	width: 100%;
}
nav span{
	margin: 0px 10px 0px 0px;
}
.hr{
	width:60%; 
	margin: 20px auto
}
#ErrorMsgs{
	color: #f61;
	font-size: smaler;
}
code{
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
	padding: 2px 4px;
	border-radius: 4px;
}
.right{
	text-align: right;
	display: block;
}