<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" 
	<% if (errors.length || quiz.edit) { %> 
		value="<%= quiz.pregunta %>" 
		placeholder=""
	<% }else{ %>
		value="" 
		placeholder="<%= quiz.pregunta %>"
	<% } %>
/>
<p>

<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" 
	<% if (errors.length || quiz.edit) { %>
		value="<%= quiz.respuesta %>" 
		placeholder=""
	<% }else{ %>
		value="" 
		placeholder="<%= quiz.respuesta %>"
	<% } %>
/>
<p>

<label for="tem" class="rem">Tematica:</label>
<select name="quiz[tematica]" >
  <option value="" selected >Seleccione una opcion</option>
  <option value="humanidades">Humanidades</option>
  <option value="ocio">Ocio</option>
  <option value="ciencia">Ciencia</option>
  <option value="tecnologia">Tecnología</option>
  <option value="otro">Otro</option>
</select>
<p>

<a href="/quizes">Cancelar</a>
<input type="submit" value="Salvar">