<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" 
	<% if (errors.length || quiz.edit) { %> 
		value="<%= quiz.pregunta %>" 
		placeholder=""
	<% }else{ %>
		value="" 
		placeholder="<%= quiz.pregunta %>"
	<% } %>
/>
<p>

<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" 
	<% if (errors.length || quiz.edit) { %>
		value="<%= quiz.respuesta %>" 
		placeholder=""
	<% }else{ %>
		value="" 
		placeholder="<%= quiz.respuesta %>"
	<% } %>
/>
<p>

<label for="tem" class="rem">Tematica:</label>
<select name="quiz[tematica]" >
	<% if(quiz.tematica ) {%>
	  <option value="" selected>Seleccione una opcion</option>
	<% }%>
	<% if(quiz.tematica && quiz.tematica === "humanidades") {%>
	  <option value="humanidades" selected>Humanidades</option>
	<% }%>
	<% if(quiz.tematica && quiz.tematica === "ocio") {%>
	  <option value="ocio" selected>Ocio</option>
	<% }%>
  <% if(quiz.tematica && quiz.tematica === "ciencia") {%>
	  <option value="ciencia" selected>Ciencia</option>
	<% }%>
  <% if(quiz.tematica && quiz.tematica === "tecnologia") {%>
	  <option value="tecnologia" selected>Tecnologia</option>
	<% }%>
  <% if(quiz.tematica && quiz.tematica === "otro") {%>
	  <option value="otro" selected>Otro</option>
	<% }%>
</select>
<p>

<a href="/quizes">Cancelar</a>
<input type="submit" value="Salvar">