<form method="get" action="/quizes/<%= quiz.id %>/answer">
	Pregunta: <%= quiz.pregunta %> <p><small>Tema: <%= quiz.tematica %></small><p>
	<input type="text" name="respuesta" placeholder="Responda aqui"/>
	<input type="submit" value="Enviar"/>
</form>
<a href="/quizes">Volver</a>